# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift
*.swiftpm
# Игнорировать все файлы .swift, кроме ContentView.swift
*.swift
!ContentView.swift

*.xcodeproj
*.xcworkspace
*.xcconfig
*.playground

# Carthage
Carthage/Build
Carthage/Checkouts

# CocoaPods
Pods/

# Temporary files
*.swp
*.swo
